META.yml
Makefile
blib/
inc/
pm_to_blib
MANIFEST.bak
ppport.h
*.sw[po]
*.bak
*.old
Build
_build/
xshelper.h
tags
MYMETA.*
README
^inc/
Geography-JapanesePrefectures-*/
/Geography-JapanesePrefectures-*
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
